---
import Layout from '@/layouts/Layout.astro';
import AuthForm from '@/components/AuthForm.svelte';

const accessToken = Astro.cookies.get('sb-access-token');
const refreshToken = Astro.cookies.get('sb-refresh-token');

if (accessToken && refreshToken) {
  return Astro.redirect('/app');
}
---

<Layout title="Sign me up!">
	<main class='flex w-full min-h-screen'>
    <AuthForm action='signup' client:load />
    <div class="max-md:hidden flex justify-end items-center w-2/4">
      <img class="object-contain" src="/auth.jpg" alt="placeholder" />
    </div>
  </main>
</Layout>